#container {
  margin: 20px;
  background-color: black;
  font-size: 1.4em;
}

#image {
  width: 500px;
  float: left;
}

#data {
  font-size: 18px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 25px;
  width: 60%;
  float: left;
  background-color: lightgreen;
}
