<div id="container">
  <div id="image">
    <img src="{{ car.imageUrl }}" width="500" height=" 300" />
  </div>
  <div id="data">
    <pre>
      Company: {{ car.company }}
      Model:  {{ car.model }}
      Version: {{ car.version }}
      Body Type: {{ car.bodyType }}
      Capacity:  {{ car.capacity }}
      Power:  {{ car.power }} KM
      Fuel: {{ car.fuel }}
      Fuel Consumption: {{ car.fuelConsumption }} l/100
      Drive Type:  {{ car.driveType }}
      Transmission:  {{ car.transmission }}
      Price: {{ car.price }} PLN
    </pre>
  </div>
</div>
